.center-menu {
  @include popup-window;

  .notifications {
    @include scrollable;

    .header {
      margin: $padding;

      .clear-button {
        background-color: transparentize($fg, .7);
        border-radius: $radius;
      }

      label {
        font-weight: bold;
        margin: $padding;
      }
    }
  }

  .quick-action {
    margin: $padding;
    background-color: transparentize($fg, .7);
  }


  .calendar {
    margin: $padding;

    calendar {
      background-color: transparentize($fg, .7);
      border-radius: $radius;
    }
  }



}
