  separator {
    background-color: transparentize($fg, .6);
    min-width: 1pt;
    min-height: 1pt;
    border-radius: $radius;
  }

  separator.horizontal {
    margin: $padding 0;
  }

  separator.vertical {
    margin: 0 $padding;
  }
