@use 'sass:color';

$fg: #8653cb;
$bg: #141414;
$radius: 11px;
$padding: 7pt;
$spacing: 12pt;
$transition: 200ms;

@mixin bar-button() {
  background-color: $bg;
  border-radius: $radius;
  margin: $spacing * 0.3;
  padding: $padding * .6;

  label {
    font-weight: bold;
  }
}

menu {
  color: white;
  background-color: $bg;
}

window.Bar {
  background-color: transparent;

  button {
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    color: transparent;
  }


  .bar-button {
    @include bar-button
  }

  .time {
    background-color: $bg;
    padding-right: $padding * 1.2;
    padding-left: $padding * 1.2;

    label {
      color: white;
    }
  }

  .workspaces {
    @include bar-button;

    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: $radius;
      margin: 0 $padding * .5;
      transition: $transition;
      background-color: color.adjust($fg, $alpha: -0.7);

      &.occupied {
        min-width: 6.5pt;
        min-height: 6.5pt;
        background-color: color.adjust($fg, $alpha: -0.3);
      }

      &.active {
        min-width: 14pt;
        min-height: 8pt;
        background-color: $fg;
      }
    }
  }
}

separator {
  background-color: color.adjust($fg, $alpha: -0.6);
  min-width: 1pt;
  min-height: 1pt;
  border-radius: $radius;
}

separator.horizontal {
  margin: $padding 0;
}

separator.vertical {
  margin: 0 $padding;
}
